/* Color gradient for the home page title text. And also, set the fonts. */
:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);

    --vp-font-family-base: 'Chinese Quotes', 'Inter var', 'Inter', 'Noto Sans JP', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --vp-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', 'Noto Sans JP', monospace;
}

/* Render the Japanese in the home page title block using Mincho font. */
.name {
    font-family: 'Yu Mincho';
}

/* Render the light mode background. Photo by Masaaki Komori on Unsplash. */
.VPContent.is-home {
    background-clip: content-box; 
    background-image: url('../../src/assets/day_bg.png');
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

/* Render the dark mode background. Photo by Elisha Terada on Unsplash. */
:root.dark .VPContent.is-home {
    background-clip: content-box; 
    background-image: url('../../src/assets/night_bg.png');
    background-color: rgba(12,12,12,0.2);
    background-blend-mode: darken;
}

/* Fade in animation for the home page title block. */
.VPHomeHero {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}