:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
}

/* Render the Japanese in the home page title block using Mincho font. */
.name {
    font-family: 'Yu Mincho';
}

/* Render the background sakura. Photo by Masaaki Komori on Unsplash. */
.VPContent.is-home {
    background-clip: content-box; 
    background-image: url('../../src/assets/home_bg.png');
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

/* Hide the background sakura when dark mode is active. */
:root.dark .VPContent.is-home {
    background-image: none;
    background-color: inherit;
}